@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, h2, h3 {
  font-size: var(--text-medium);
  margin: 0;
}

:root {
  --text-small: 10pt;
  --text-medium: 12pt;
  --text-large: 16pt;

  --padding-1: 6px;
  --padding-2: 9px;
  --padding-3: 18px;
}