@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: var(--text-medium);
  background: var(--bg-dark);
  color: var(--fg-dark);
}

h2 {
  font-size: var(--text-small);
  text-transform: uppercase;
  margin: 0;
  padding: var(--padding-1);
  text-align: center;
}

:root {
  --text-small: 8pt;
  --text-medium: 10pt;
  --text-large: 14pt;

  --bg-dark: rgba(65,28,56,1);
  --bg-light: #e6e6e6;
  --bg-light-dim: #dcdae0;

  --fg-dark: #e3e0e6;
  --fg-light: #301020;
  --fg-light-dim: #705060;
  --fg-light-dimmer: #c0a0b0;

  --padding-1: 6px;
  --padding-2: 12px;
  --padding-3: 18px;
}